{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!-- Block Title -->
<title>{% block title %} CMS - Encrypt Record {% endblock %}</title>

<!-- Navbar links control -->
{% block links %}{% endblock %}

<!-- Block NavBar Content -->
{% block nav-content %}
  {% if user.is_staff == False %}
    <i class="fa-solid fa-user-check mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Investigator &nbsp;{{ user }}</i>
  {% elif user.is_staff == True %}
    <i class="fa-solid fa-user mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Admin/Judge &nbsp;{{ user  }}</i>
  {% endif %}
{% endblock %}

<!-- Logout Button -->
{% block nav-btn %}
<a href="{% url 'encrypt' %}" class="btn btn-custom" id="btn-nav"><i class="fas fa-chevron-left">&nbsp;&nbsp;Back</i></a>
{% endblock %}

<!-- Block TopBar -->
{% block topbar %}
<div class="top-bar mt-4 pt-5">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <img src="{% static 'img/icon.png' %}" alt="Logo">
                        <h1><span>C</span>M<span>S</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Page Contentt -->
{% block content %}
<br>
<div class="container mt-2 mb-5 pb-5" style="width: 95%; font-size: 14px">
    <!-- Add Form -->
    <button class="btn btn-danger w-100 mt-3 mb-3 no-pointer" style="color: black;">
        <i class="fas fa-folder-open">&nbsp;&nbsp;ADD &nbsp;REPORT &nbsp;DETAILS</i>
    </button>

    <!-- Message From BackEnd -->
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{ message }}
                <a href="#" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
            </div>
        {% elif message.tags == 'error' %}
            <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{ message }}
                <a href="#" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
            </div>
        {% endif %}
    {% endfor%}

        <div class="row">
          <div class="col-md-6">
            <form method="POST" class="card p-3 mt-2" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                        <div class="col-6">
                            {{ form.case_id|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.case_name|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.case_info|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.case_file|as_crispy_field }}
                        </div>
                    </div>
                <button type="submit" class="btn btn-outline-primary mt-3"><i class="fas fa-lock">&nbsp;&nbsp;Encrypt &nbsp;Record</i></button>
            </form>
          </div>
          <div class="col-md-6 mt-5">
              <img src="{% static 'img/encdd.png' %}" alt="Image" style="width: 540px; height: 450px; padding: 1rem;" >
          </div>
        </div>

</div> <!-- END // container -->

{% endblock content %}

<!-- Block Encrypt -->
{% block encrypt %} {% endblock %}

<!-- Block Decrypt -->
{% block decrypt %} {% endblock %}

<!-- Block Footer -->
{% block footer %} style="color: #d3d3d3;" {% endblock %}
