# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.env/
.venv/
.VENV/

# Django stuff
*.log
*.pot
*.pyc
*.py[cod]
*.so
local_settings.py
db.sqlite3

# Environment variables
.env

# Static and media files
staticfiles/
media/

# IDE files
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
