{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!-- Block Title -->
<title>{% block title %} CBDET | Update Text Record {% endblock %}</title>

<!-- Navbar links control -->
{% block links %}{% endblock %}

<!-- Block NavBar Content -->
{% block nav-content %}
  {% if user.is_staff == False %}
    <i class="fa-solid fa-user-check mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Standard-User &nbsp;{{ user }}</i>
  {% elif user.is_staff == True %}
    <i class="fa-solid fa-user mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Admin-User &nbsp;{{ user  }}</i>
  {% endif %}
{% endblock %}

{% block topbar %}
<div class="top-bar mt-4 pt-5">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <img src="{% static 'img/icon.ico' %}" alt="Logo">
                        <h1><span>CB</span>DET<span></span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Logout Button -->
{% block nav-btn %}
    <a class="btn btn-custom" id="btn-nav-back" onclick="goBack()"><i class="fas fa-chevron-left">&nbsp;&nbsp;Back</i></a>
    <a class="btn btn-custom" id="btn-nav-filter" href="{% url 'backend' %}" ><i class="fas fa-sliders">&nbsp;&nbsp;Control Panel</i></a>
    <a class="btn btn-custom" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logout"><i class="fas fa-right-from-bracket">&nbsp;&nbsp;Logout</i></a>
{% endblock %}


<!-- Page Content -->
{% block content %}
 <br>
    <div class="container mt-2 mb-5 pb-2"  style="width: 95%; font-size: 14px">
        <!-- Update Form -->
        <button class="btn btn-warning w-100 mt-3 mb-3 no-pointer">
            <i class="fa-solid fa-info-circle"></i>&nbsp;&nbsp;UPDATE TEXT-RECORD CIPHER DETAILS
        </button>
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{ message }}
                    <a href="{% url 'view' %}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                </div>
            {% endif %}
        {% endfor %}
        <form method="POST" class="card p-3 mt-2" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary mt-3" style="width: 90px;">Submit</button>
        </form>

        <!--Section 2 (next class)-->

    </div> <!-- END // container -->
{% endblock content %}

<!-- Block Encrypt -->
{% block encrypt %} {% endblock %}

<!-- Block Decrypt -->
{% block decrypt %} {% endblock %}

<!-- Block Footer -->
{% block footer %} style="color: #d3d3d3;" {% endblock %}