{% extends 'base.html' %}
{% load static %}

<!-- Navbar links control -->
{% block links %}{% endblock %}

<title>{% block title %} CMS - View Records {% endblock %}</title>

<!-- Block NavBar Content -->
{% block nav-content %}
  {% if user.is_staff == False %}
    <i class="fa-solid fa-user-check mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Investigator &nbsp;{{ user }}</i>
  {% elif user.is_staff == True %}
    <i class="fa-solid fa-user-tie mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Admin/Judge &nbsp;{{ user  }}</i>
  {% endif %}
{% endblock %}

<!-- Logout Button -->
{% block nav-btn %}
    <a class="btn btn-custom" id="btn-nav-view" href="{% url 'search_cases_decrypt' %}"><i class="fas fa-search">&nbsp;&nbsp;Search</i></a>
    <a class="btn btn-custom" id="btn-nav-view" href="{% url 'decrypt' %}"><i class="fas fa-chevron-left">&nbsp;&nbsp;Back</i></a>
    <a class="btn btn-custom" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logout"><i class="fas fa-right-from-bracket">&nbsp;&nbsp;Logout</i></a>
{% endblock %}

<!-- Block TopBar -->
{% block topbar %}
<div class="top-bar mt-4 pt-5">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <img src="{% static 'img/icon.ico' %}" alt="Logo">
                        <h1><span>C</span>M<span>S</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<!-- Page Content -->
{% block content %}
    <br>
    <div class="container mt-2 mb-5 col-md-12" style="width: 95%; font-size: 14px;">
      <button class="btn btn-secondary w-100 mt-3 mb-3 no-pointer">
          <i class="fas fa-folder-tree">&nbsp;&nbsp;ENCRYPTED &nbsp;CASE &nbsp;RECORDS</i>
      </button>

        <!--Table-->
        <div class="container">
            <div class="row my-4">
                <div class="col-md-12">
                    <table class="table bg-white">
                        <thead class="bg-info">
                        <tr>
                          <th scope="col"><i class="fas fa-table-list">&nbsp;&nbsp;DB.ID</i></th>
                          <th scope="col"><i class="fas fa-folder-closed">&nbsp;&nbsp;CASE-ID</i></th>
                          <th scope="col"><i class="fas fa-file-lines">&nbsp;&nbsp;FILE NAME</i></th>
                          <th scope="col"><i class="fas fa-user-tag">&nbsp;&nbsp;USER-ID</i></th>
                          <th scope="col"><i class="fas fa-calendar-day">&nbsp;&nbsp;DATE</i></th>
                          <th scope="col"><i class="fas fa-circle-info">&nbsp;&nbsp;DETAILS</i></th>
                          <th scope="col"><i class="fas fa-bars-progress">&nbsp;&nbsp;ACTION</i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ file.id }}</td>
                            <td>{{ file.case_id }}</td>
                            <td>{{ file.file }}</td>
                            <td>{{ file.user.email }}</td>
                            <td>{{ file.encryption_date }}</td>
                            <td><a href="{% url 'view_data_decrypt' file.id %}">
                <button type="button" class="w-90 btn btn-sm btn-outline-primary"><i class="fas fa-expand">&nbsp;View</i></button>
                </a></td>
                            <td><a href="{% url 'decrypt_and_download' file.id %}">
                <button type="button" class="w-90 btn btn-sm btn-outline-success"><i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i></button>
                </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <tbody>
                        {% for txt in texts %}
                        <tr>
                            <td>{{ txt.id }}</td>
                            <td>{{ txt.caseID }}</td>
                            <td>{{ txt.caseName }}</td>
                            <td>{{ txt.user.email }}</td>
                            <td>{{ txt.encryption_date }}</td>
                            <td><a href="{% url 'view_file_decrypt' txt.id %}">
                <button type="button" class="w-90 btn btn-sm btn-outline-primary"><i class="fas fa-expand">&nbsp;View</i></button>
                </a></td>
                            <td><a href="{% url 'view_dec_file' txt.id %}">
                <button type="button" class="w-90 btn btn-sm btn-outline-success"><i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i></button>
                </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <tbody>
                        {% for repo in reports %}
                        <tr>
                            <td>{{ repo.id }}</td>
                            <td>{{ repo.case_id }}</td>
                            <td>{{ repo.case_name }}</td>
                            <td>{{ repo.user_id.email }}</td>
                            <td>{{ repo.encryption_date }}</td>
                            <td><a href="{% url 'view_report_decrypt' repo.id %}">
                <button type="button" class="btn btn-sm btn-outline-primary"><i class="fas fa-expand">&nbsp;View</i></button>
                </a></td>
                            <td><a href="{% url 'decrypt_case' repo.id %}">
                <button type="button" class="btn btn-sm btn-outline-success"><i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i></button>
                </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
        <!--End Table-->
    </div>

{% endblock content %}

<!-- Block Encrypt -->
{% block encrypt %} {% endblock %}

<!-- Block Decrypt -->
{% block decrypt %} {% endblock %}

<!-- Block Footer -->
{% block footer %} style="color: #d3d3d3;" {% endblock %}
