{% extends 'base.html' %}
{% load static %}

<!-- Navbar links control -->
{% block links %}{% endblock %}


<!-- Block Title -->
<title>{% block title %} NebuCrypt | Encrypt Dashboard {% endblock %}</title>


<!-- NavBar Button -->
{% block nav-btn %}
    <i class="fas fa-clock" style="color:white;">&nbsp;&nbsp;{{ date }}</i>
    <a class="btn btn-custom rounded-3" id="btn-nav-search" href="{% url 'search_cipher_records' %}" >
        <i class="fa fa-search">&nbsp;&nbsp; Search</i>
    </a>
    <a class="btn btn-custom rounded-3" id="btn-nav-back" href="{% url 'backend' %}" >
        <i class="fa fa-sliders">&nbsp;&nbsp; Control Panel</i>
    </a>
    <a class="btn btn-custom rounded-3" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logout">
        <i class="fa fa-right-from-bracket">&nbsp;&nbsp; Logout</i>
    </a>
{% endblock %}


{% block nav-content %}
    <i class="fa-solid fa-user-check mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Welcome &nbsp;{{ user }}</i>
{% endblock %}


<!-- Block TopBar -->
{% block topbar %}
<div class="top-bar mb-5 mt-5 pt-5">
        <div class="container mt-5 mb-3">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="logo">
                        <img src="{% static 'img/icon.ico' %}" alt="Logo">
                        <h1>&nbsp;&nbsp;ENCRYPT<span>&nbsp;&nbsp;Dashboard</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block sidebar %}
<!--Topside-->
<div class="container mt-5 mb-1 col-lg-10 border-0">
        <div class="card text-bg-success text-white border-0 rounded-4 shadow-lg">
            <div class="card-body border-0">
                <div class="row m-1">
                    <div class="col-md-4">
                        <div class="card my-card shadow text-center p-3 border-0 rounded-3" style="color: green;">
                            <h6 style="color: #082567;">User Role</h6>
                            {% if user.is_staff == False %}
                                <marquee behavior="" direction="">
                                    <h5><i class="fa fa-user-tag"> {{ user }}&nbsp;-&nbsp;Standard</i></h5>
                                </marquee>
                            {% elif user.is_staff == True %}
                                <marquee behavior="" direction="">
                                    <h5><i class="fa fa-user-tag"> {{ user }}&nbsp;-&nbsp;Admin</i></h5>
                                </marquee>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="card my-card shadow text-center p-3 border-0 rounded-3" style="color: green;">
                                <h6 style="color: #082567;">Verified Email</h6>
                                <h5><i class="fa fa-envelope-circle-check" >&nbsp;&nbsp;{{ user.email }}</i></h5>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-card shadow text-center p-3 border-0 rounded-3" style="color: green;">
                            <h6 style="color: #082567;">Last Login</h6>
                            <h5><i class="fa fa-clock">&nbsp;&nbsp;{{ user.last_login }}</i></h5>
                        </div>
                    </div>
                </div>
                <div class="row m-1 mt-2">
                    <div class="col-md-4">
                        <div class="card my-card shadow text-center p-3 border-0 rounded-3" style="color:green;">
                            <h6 style="color: #082567;">Key Pair Generated</h6>
                            <h5><i class="fa fa-key" >&nbsp;&nbsp;{{ key_pair }}</i></h5>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a class="text-decoration-none text-dark" href="{% url 'view_cipher_records'%}">
                            <div class="card my-card shadow text-center p-3 border-0 rounded-3" style="color:green;">
                                <h6 style="color: #082567;">Encrypted Data</h6>
                                <h5><i class="fa fa-lock" >&nbsp;&nbsp;{{ total_files }}</i></h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <div class="card my-card shadow text-center p-3 border-0 rounded-3" style="color: green;">
                            <h6 style="color: #082567;">Staff Status</h6>
                            {% if user.is_active == True %}
                                <h5><i class="fa fa-user-clock">&nbsp;&nbsp;Active</i></h5>
                            {% else %}
                                <h5><i class="fa fa-user-clock">&nbsp;&nbsp;Active</i></h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div><!--End Topside-->
{% endblock %}


<!-- Page Content -->
{% block content %}
<div class="container mt-4 mb-5 col-lg-11" style="width: 95%; font-size: 14px">
    <div class="container mb-5 py-3 mt-3 col-lg-10" >
        <div class="col-md-12 mt-5">
              <div class="card-header rounded-3 py-3 mb-3 bg-info border-0 shadow-lg">
                    <h6 class="my-0 fw-normal" style="color: white;">
                        <i class="fa fa-lightbulb">&nbsp;&nbsp; Select options to start encryption</i>
                    </h6>
              </div>
            <div class="row m-0 p-1">
                <div class="card-body col-md-4 text-center">
                    <div class="bg-light rounded-4 shadow-lg border-0 py-5">
                        <h4><i class="fa fa-file-pdf bg-info text-white p-2 py-3 rounded-3">&nbsp;any-file-type</i></h4>
                        <a href="/encrypt/encrypt_file">
                            <button type="button" class="w-90 btn btn-md btn-outline-info mt-4 border-1 shadow-lg rounded-3">
                                <i class="fas fa-file">&nbsp;&nbsp;ADD TO ENCRYPT</i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="card-body col-md-4 text-center">
                    <div class=" bg-light rounded-4 shadow-lg border-0 py-5">
                        <h4><i class="fa fa-align-justify bg-info text-white p-2 py-3 rounded-3">&nbsp;type-some-text</i></h4>
                         <a href="/encrypt/encrypt_text">
                            <button type="button" class="w-90 btn btn-md btn-outline-info mt-4 border-1 shadow-lg rounded-3">
                                <i class="fas fa-align-justify">&nbsp;&nbsp;ADD TO ENCRYPT</i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="card-body col-md-4 text-center">
                    <div class="bg-light rounded-4 shadow-lg border-0 py-5">
                        <h4><i class="fa fa-folder-minus bg-info text-white p-2 py-3 rounded-3">&nbsp;text-with-file</i></h4>
                        <a href="/encrypt/encrypt_textfile">
                            <button type="button" class="w-90 btn btn-md btn-outline-info mt-4 border-1 shadow-lg rounded-3">
                                <i class="fas fa-folder-minus">&nbsp;&nbsp;ADD TO ENCRYPT</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- END // container -->

    <!--Table-->
    <div class="container py-3 mt-3 col-lg-11" >
        <div class="col">
            <div class="card mb-5 rounded-3 shadow-lg border-0">
                  <div class="card-header rounded-top-3 py-3 text-bg-success border-0">
                        <h6 class="my-0 fw-normal" style="color: white; text-align: center;">
                            <i class="fa fa-folder-tree">&nbsp;&nbsp; RECENTLY &nbsp;ENCRYPTED</i>
                        </h6>
                  </div>
                <div class="row my-4 mx-4">
                    <div class="col-md-12">
                        <table class="table bg-white">
                            <thead class="bg-info">
                                <tr>
                                  <th scope="col"><i class="fa fa-folder-closed">&nbsp;&nbsp; RECORD ID</i></th>
                                  <th scope="col"><i class="fa fa-file-lines">&nbsp;&nbsp; RECORD NAME</i></th>
                                  <th scope="col"><i class="fa fa-user-tag">&nbsp;&nbsp; USER ID</i></th>
                                  <th scope="col"><i class="fa fa-calendar-day">&nbsp;&nbsp; DATE ENCRYPTED</i></th>
                                  <th scope="col"><i class="fa fa-circle-info">&nbsp;&nbsp; DETAILS</i></th>
                                  <th scope="col"><i class="fa fa-circle-info">&nbsp;&nbsp; ACTION</i></th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for f in file %}
                                  <tr>
                                      <td>{{ f.file_id }}</td>
                                      <td>{{ f.file_name }}</td>
                                      <td>{{ f.user.email }}</td>
                                      <td>{{ f.file_date }}</td>
                                      <td>
                                        <a href="/encrypt/view_cipher_file/{{ f.id }}">
                                            <button type="button" class="w-100 btn btn-sm btn-outline-info rounded-3 shadow-md border-1 border-info">
                                                <i class="fas fa-expand">&nbsp;View</i>
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                    {% if user.is_staff == True %}
                                    <a href="{% url 'decrypt_file' f.id %}">
                                        <button type="button" class="w-100 btn btn-sm btn-outline-success rounded-3 shadow-md border-1 border-success">
                                            <i class="fas fa-unlock-keyhole">&nbsp;View</i>
                                        </button>
                                    </a>
                                    {% elif user.is_staff == False %}
                                        <button type="button" class="w-100 btn btn-sm btn-outline-danger rounded-3 shadow-md border-1 border-danger disabled">
                                            <i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i>
                                        </button>
                                    {% endif %}
                                    </td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                            <tbody>
                                {% for txt in text %}
                                    <tr>
                                        <td>{{ txt.text_id }}</td>
                                        <td>{{ txt.text_name }}</td>
                                        <td>{{ txt.user.email }}</td>
                                        <td>{{ txt.text_date }}</td>
                                        <td>
                                            <a href="{% url 'view_cipher_text' txt.id %}">
                                                <button type="button" class="w-100 btn btn-sm btn-outline-info rounded-3 shadow-md border-1 border-info">
                                                    <i class="fas fa-expand">&nbsp;View</i>
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                        {% if user.is_staff == True %}
                                            <a href="{% url 'decrypt_text' txt.id %}">
                                                <button type="button" class="w-100 btn btn-sm btn-outline-success rounded-3 shadow-md border-1 border-success">
                                                    <i class="fas fa-unlock-keyhole">&nbsp;View</i>
                                                </button>
                                            </a>
                                        {% elif user.is_staff == False %}
                                            <button type="button" class="w-100 btn btn-sm btn-outline-danger rounded-3 shadow-md border-1 border-danger disabled">
                                                <i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i>
                                            </button>
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                            <tbody>
                              {% for tf in textfile %}
                                  <tr>
                                      <td>{{ tf.textfile_id }}</td>
                                      <td>{{ tf.textfile_name }}</td>
                                      <td>{{ tf.user.email }}</td>
                                      <td>{{ tf.textfile_date }}</td>
                                      <td>
                                        <a href="{% url 'view_cipher_textfile' tf.id %}">
                                            <button type="button" class="w-100 btn btn-sm btn-outline-info rounded-3 shadow-md border-1 border-info">
                                                <i class="fas fa-expand">&nbsp;View</i>
                                            </button>
                                        </a>
                                    </td>
                                      <td>
                                      {% if user.is_staff == True %}
                                        <a href="{% url 'decrypt_textfile' tf.id %}">
                                            <button type="button" class="w-100 btn btn-sm btn-outline-success rounded-3 shadow-md border-1 border-success">
                                                <i class="fas fa-unlock-keyhole">&nbsp;View</i>
                                            </button>
                                        </a>
                                        {% elif user.is_staff == False %}
                                            <button type="button" class="w-100 btn btn-sm btn-outline-danger rounded-3 shadow-md border-1 border-danger disabled">
                                                <i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i>
                                            </button>
                                        {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'view_cipher_records' %}">
        <button class="w-90 btn btn-lg btn-outline-info rounded-3 shadow-md border-1 border-info">
            <i class="fa fa-folder-plus">&nbsp;&nbsp;More &nbsp;Ciphers</i>
        </button>
    </a>
</div>
{% endblock content %}

<!-- Block Encrypt -->
{% block encrypt %} {% endblock %}

<!-- Block Decrypt -->
{% block decrypt %} {% endblock %}

<!-- Block Footer -->
{% block footer %} style="color: greenyellow;" {% endblock %}