{% extends 'base.html' %}
{% load static %}

<!-- Navbar links control -->
{% block links %}{% endblock %}

<title>{% block title %} CBDET | Case Records {% endblock %}</title>

<!-- Block NavBar Content -->
{% block nav-content %}
  {% if user.is_staff == False %}
    <i class="fa-solid fa-user-check mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Investigator &nbsp;{{ user }}</i>
  {% elif user.is_staff == True %}
    <i class="fa-solid fa-user-tie mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Admin/Judge &nbsp;{{ user  }}</i>
  {% endif %}
{% endblock %}

<!-- Logout Button -->
{% block nav-btn %}
    <a class="btn btn-custom" id="btn-nav-view" href="{% url 'backend' %}"><i class="fas fa-chevron-left">&nbsp;&nbsp;Back</i></a>
    <a class="btn btn-custom" id="btn-nav-back" href="{% url 'filter_cases' %}" ><i class="fas fa-filter">&nbsp;&nbsp;Filter</i></a>
    <a class="btn btn-custom" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logout"><i class="fas fa-right-from-bracket">&nbsp;&nbsp;Logout</i></a>
{% endblock %}

<!-- Block TopBar -->
{% block topbar %}
<div class="top-bar mt-4 pt-5">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <img src="{% static 'img/icon.ico' %}" alt="Logo">
                        <h1><span>CB</span>DET<span></span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<!-- Page Content -->
{% block content %}
    <br>
    <div class="container mt-2 mb-5 col-md-12" style="width: 95%; font-size: 14px">
        <button class="btn btn-secondary w-100 mt-3 mb-1 no-pointer">
            <i class="fas fa-file">&nbsp;&nbsp;ENCRYPTED &nbsp;CASE &nbsp;RECORDS</i>
        </button>

        <!-- Message From BackEnd -->
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{ message }}
                    <a href="#" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                </div>
            {% elif message.tags == 'error' %}
                <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{ message }}
                    <a href="#" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                </div>
            {% endif %}
        {% endfor%}


        <!--Table-->
        <div class="container">
            <div class="row my-4">
                <div class="col-md-12">
                    <table class="table bg-white">
                        <thead class="bg-info">
                        <tr>
                          <th scope="col"><i class="fas fa-table-list">&nbsp;&nbsp;DB.ID</i></th>
                          <th scope="col"><i class="fas fa-folder-closed">&nbsp;&nbsp;CASE-ID</i></th>
                          <th scope="col"><i class="fas fa-file-lines">&nbsp;&nbsp;FILE NAME</i></th>
                          <th scope="col"><i class="fas fa-user-tag">&nbsp;&nbsp;USER-ID</i></th>
                          <th scope="col"><i class="fas fa-calendar-day">&nbsp;&nbsp;DATE</i></th>
                          <th scope="col"><i class="fas fa-circle-info">&nbsp;&nbsp;DETAILS</i></th>
                          <th scope="col"><i class="fas fa-bars-progress">&nbsp;&nbsp;ACTION</i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ file.id }}</td>
                            <td>{{ file.caseID }}</td>
                            <td>{{ file.caseName }}</td>
                            <td>{{ file.user.email }}</td>
                            <td>{{ file.encryption_date }}</td>
                            <td><a href="{% url 'view_file_backend' file.id %}">
                <button type="button" class="w-90 btn btn-sm btn-outline-primary"><i class="fas fa-expand">&nbsp;View</i></button>
                </a></td>

                  <td>
                      {% if user.is_staff == False %}
                        <a href="#">
                          <button type="button" class="btn btn-sm btn-outline-danger" disabled><i class="fas fa-triangle-exclamation">&nbsp;Decrypt</i></button>
                        </a>
                      {% elif user.is_staff == True %}
                        <a href="{% url 'view_dec_file' file.id %}">
                          <button type="button" class="btn btn-sm btn-outline-success"><i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i></button>
                        </a>
                        {% endif %}

                    </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <tbody>
                        {% for f_file in f_files %}
                        <tr>
                            <td>{{ f_file.id }}</td>
                            <td>{{ f_file.case_id }}</td>
                            <td>{{ f_file.file }}</td>
                            <td>{{ f_file.user.email }}</td>
                            <td>{{ f_file.encryption_date }}</td>
                            <td><a href="{% url 'view_data_backend' f_file.id %}">
                <button type="button" class="btn btn-sm btn-outline-primary"><i class="fas fa-expand">&nbsp;View</i></button>
                </a></td>
                            <td>{% if user.is_staff == False %}
                              <a href="#">
                                <button type="button" class="btn btn-sm btn-outline-danger" disabled><i class="fas fa-triangle-exclamation">&nbsp;Decrypt</i></button>
                              </a>
                            {% elif user.is_staff == True %}
                              <a href="{% url 'decrypt_and_download' f_file.id %}">
                                <button type="button" class="btn btn-sm btn-outline-success"><i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i></button>
                              </a>
                              {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <td>{{ report.id }}</td>
                            <td>{{ report.case_id }}</td>
                            <td>{{ report.case_name }}</td>
                            <td>{{ report.user_id.email }}</td>
                            <td>{{ report.encryption_date }}</td>
                            <td><a href="{% url 'view_report_backend' report.id %}">
                <button type="button" class="btn btn-sm btn-outline-primary"><i class="fas fa-expand">&nbsp;View</i></button>
                </a></td>
                            <td>{% if user.is_staff == False %}
                              <a href="#">
                                <button type="button" class="btn btn-sm btn-outline-danger" disabled><i class="fas fa-triangle-exclamation">&nbsp;Decrypt</i></button>
                              </a>
                            {% elif user.is_staff == True %}
                              <a href="{% url 'decrypt_case' report.id %}">
                                <button type="button" class="btn btn-sm btn-outline-success"><i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i></button>
                              </a>
                              {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
        <!--End Table-->
    </div>

{% endblock content %}

<!-- Block Encrypt -->
{% block encrypt %} {% endblock %}

<!-- Block Decrypt -->
{% block decrypt %} {% endblock %}

<!-- Block Footer -->
{% block footer %} style="color: #ff7f7f;" {% endblock %}
