{% extends 'base.html' %}
{% load static %}


<!-- Navbar links control -->
{% block links %}{% endblock %}


<!-- Block Title -->
<title>{% block title %} NebuCrypT | User Details {% endblock %}</title>

<!-- Block NavB
ar Content -->
{% block nav-content %}
    <i class="fa-solid fa-user-check mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Welcome &nbsp;{{ user }}</i>
{% endblock %}


<!-- NavBar Button -->
{% block nav-btn %}
    <a class="btn btn-custom rounded-3" id="btn-nav-back" onclick="goBack()"><i class="fas fa-chevron-left">&nbsp;&nbsp;Back</i></a>
    <a class="btn btn-custom rounded-3" id="btn-nav-panel" href="{% url 'backend' %}" ><i class="fa fa-sliders">&nbsp;&nbsp; Control Panel</i></a>
    <a class="btn btn-custom rounded-3" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logout"><i class="fas fa-right-from-bracket">&nbsp;&nbsp;Logout</i></a>
{% endblock %}

<!-- Block TopBar -->
{% block topbar %}
<div class="top-bar mt-5 pt-5">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="logo">
                        <img src="{% static 'img/icon.ico' %}" alt="Logo">
                        <h1><span></span>USER<span>&nbsp;&nbsp;Details</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block sidebar %}
<div class="container mt-5 mb-1 pb- col-lg-10" style="width: 100%; font-size: 14px">
    <div class="card-body">
        <div class="row m-1">
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 text-info rounded-3">
                    <h5 style="color: #082567;">Staff Status</h5>
                    {% if user_details.is_staff == False %}
                        <h4><i class="fas fa-user-tag">&nbsp;Standard</i></h4>
                    {% elif user_details.is_staff == True %}
                        <h4><i class="fas fa-user-tag">&nbsp;Admin</i></h4>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 text-info rounded-3">
                    <h5 style="color: #082567;">User ID & Name</h5>
                        <h4><i class="fa fa-align-left">&nbsp;&nbsp;{{ user_details.id }} &nbsp; {{ user_details.username }}</i></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 text-info rounded-3">
                    <h5 style="color: #082567;">User Email</h5>
                    <h4><i class="fa fa-folder-minus" >&nbsp;&nbsp;{{ user_details.email }}</i></h4>
                    </div>
            </div>
        </div>
        <div class="row m-1 mt-3">
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 rounded-3 text-info">
                    <h5 style="color: #082567;">Key Pairs Generated</h5>
                    <h4><i class="fa fa-folder-minus" >&nbsp;&nbsp;{{ total_files }}</i></h4>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 rounded-3 text-info">
                    <h5 style="color: #082567;">Encrypted Data</h5>
                    <h4><i class="fas fa-file" >&nbsp;&nbsp;{{ total_files }}</i></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 rounded-3 text-info" >
                    <h5 style="color: #082567;">Decrypted Data</h5>
                        <h4><i class="fa fa-align-left">&nbsp;&nbsp;{{ total_files }}</i></h4>
                </div>
            </div>
        </div>
        <div class="row m-1 mt-3">
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 rounded-3 text-info">
                    <h5 style="color: #082567;">Encrypted Data</h5>
                    <h4><i class="fa fa-folder-minus" >&nbsp;&nbsp;{{ total_files }}</i></h4>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 rounded-3 text-info">
                    <h5 style="color: #082567;">Date Joined</h5>
                    <h4><i class="fas fa-file" >&nbsp;&nbsp;{{ user_details.date_joined }}</i></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 rounded-3 text-info">
                    <h5 style="color: #082567;">Last Login</h5>
                        <h4><i class="fa fa-align-left">&nbsp;&nbsp;{{ user_details.last_login }}</i></h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Page Content -->
{% block content %}
<br>
<div class="container mt-1 mb-4 pb-5 col-lg-11" style="width: 100%; font-size: 14px">
    <!--Table-->
    <div class="container  mt-2 col-lg-11" >
        <div class="col">
            <div class="card mb-5 rounded-3 shadow-lg border-0">
                <div class="card-header rounded-top-3 py-3 text-bg-success border-0">
                        <h6 class="my-0 fw-normal" style="color: white; text-align: center;">
                            <i class="fa fa-folder-tree">&nbsp;&nbsp; RECENTLY &nbsp;ENCRYPTED</i>
                        </h6>
                  </div>
                <div class="row my-4 mx-2">
                    <div class="col-md-12">
                        <table class="table bg-white">
                            <thead class="bg-info">
                            <tr>
                              <th scope="col"><i class="fas fa-folder-closed">&nbsp;&nbsp;RECORD-ID</i></th>
                              <th scope="col"><i class="fas fa-file-lines">&nbsp;&nbsp;RECORD NAME</i></th>
                              <th scope="col"><i class="fas fa-user-tag">&nbsp;&nbsp;USER-ID</i></th>
                              <th scope="col"><i class="fas fa-calendar-day">&nbsp;&nbsp;DATE</i></th>
                              <th scope="col"><i class="fas fa-circle-info">&nbsp;&nbsp;DETAILS</i></th>
                              <th scope="col"><i class="fas fa-bars-progress">&nbsp;&nbsp;ACTION</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for txt in text %}
                            <tr>
                                <td>{{ txt.text_id }}</td>
                                <td>{{ txt.text_name }}</td>
                                <td>{{ txt.user.email }}</td>
                                <td>{{ txt.text_date }}</td>
                                <td>
                                  <a href="{% url 'view_cipher_text' txt.id %}">
                                    <button type="button" class="btn btn-md btn-outline-info rouned-3 border-1 shadow-md">
                                        <i class="fas fa-expand">&nbsp;View</i>
                                    </button>
                                  </a>
                                </td>
                                <td>
                                    {% if user.is_staff == False %}
                                        <button type="button" class="btn btn-md btn-outline-danger rouned-3 border-1 shadow-md" disabled>
                                            <i class="fas fa-triangle-exclamation">&nbsp;Decrypt</i>
                                        </button>
                                    {% elif user.is_staff == True %}
                                      <a href="{% url 'decrypt_text' txt.id %}">
                                        <button type="button" class="btn btn-md btn-outline-success rouned-3 border-1 shadow-md">
                                            <i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i>
                                        </button>
                                      </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            {% for f in file %}
                            <tr>
                                <td>{{ f.file_id }}</td>
                                <td>{{ f.file_name }}</td>
                                <td>{{ f.user.email }}</td>
                                <td>{{ f.file_date }}</td>
                                <td>
                                  <a href="{% url 'view_cipher_file' f.id %}">
                                    <button type="button" class="btn btn-md btn-outline-info rounded-3 border-1 shadow-md">
                                        <i class="fas fa-expand">&nbsp;View</i>
                                    </button>
                                  </a>
                                  </td>
                                <td>{% if user.is_staff == False %}
                                    <button type="button" class="btn btn-md btn-outline-danger rounded-3 border-1 shadow-md" disabled>
                                        <i class="fas fa-triangle-exclamation">&nbsp;Decrypt</i>
                                    </button>
                                {% elif user.is_staff == True %}
                                  <a href="{% url 'decrypt_file' f.id %}">
                                    <button type="button" class="btn btn-md btn-outline-success rounded-3 border-1 shadow-md">
                                        <i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i>
                                    </button>
                                  </a>
                                  {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            {% for tf in textfile %}
                            <tr>
                                <td>{{ tf.textfile_id }}</td>
                                <td>{{ tf.textfile_name }}</td>
                                <td>{{ tf.user.email }}</td>
                                <td>{{ tf.textfile_date }}</td>
                                <td>
                                  <a href="{% url 'view_cipher_textfile' tf.id %}">
                                    <button type="button" class="btn btn-md shadow-md btn-outline-info rounded-3 border-1">
                                        <i class="fas fa-expand">&nbsp;View</i>
                                    </button>
                                  </a>
                                  </td>
                                <td>
                                    {% if user.is_staff == False %}
                                    <button type="button" class="btn btn-md shadow-md btn-outline-danger rounded-3 border-1" disabled>
                                        <i class="fas fa-triangle-exclamation">&nbsp;Decrypt</i>
                                    </button>
                                {% elif user.is_staff == True %}
                                  <a href="{% url 'decrypt_textfile' tf.id %}">
                                    <button type="button" class="btn btn-md shadow-md btn-outline-success rounded-3 border-1">
                                        <i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i>
                                    </button>
                                  </a>
                                  {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Table-->

    <div class="col-6">
        <a href="{% url 'view_all_users' user_details.id %}">
            <button type="button" class="btn btn-outline-secondary m-1 p-2"><i class="fas fa-folder-plus">&nbsp;View More</i></button>
        </a>
    </div>
</div> <!-- END // container -->
{% endblock content %}

<!-- Block Encrypt -->
{% block encrypt %} {% endblock %}

<!-- Block Decrypt -->
{% block decrypt %} {% endblock %}

<!-- Block Footer-Position -->
{% block footer-position %} class="fixed-bottom bg-dark text-center text-lg-start text-light" {% endblock %}

<!-- Block Footer -->
{% block footer %} style="color: greenyellow;" {% endblock %}