{% extends 'base.html' %}
{% load static %}

<!-- Navbar links control -->
{% block links %}{% endblock %}

<title>{% block title %} NebuCrypT | Users {% endblock %}</title>

<!-- Block NavBar Content -->
{% block nav-content %}
    <i class="fa-solid fa-user-check mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Welcome &nbsp;{{ user }}</i>
{% endblock %}

<!-- NavBar Button -->
{% block nav-btn %}
    <a class="btn btn-custom rounded-3" id="btn-nav-back" onclick="goBack()"><i class="fas fa-chevron-left">&nbsp;&nbsp;Back</i></a>
    <a class="btn btn-custom rounded-3" id="btn-nav-search" href="{% url 'search_users_backend' %}"><i class="fas fa-search">&nbsp;&nbsp;Search</i></a>
    <a class="btn btn-custom rounded-3" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logout"><i class="fas fa-right-from-bracket">&nbsp;&nbsp;Logout</i></a>
{% endblock %}


<!-- Block TopBar -->
{% block topbar %}
<div class="top-bar mt-5 pt-5">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="logo">
                        <img src="{% static 'img/icon.ico' %}" alt="Logo">
                        <h1><span></span>USERS'<span>&nbsp;&nbsp;Dashboard</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block sidebar %}
<div class="container mt-5 mb-1 pb- col-lg-10" style="width: 100%; font-size: 14px">
    <div class="card-body">
        <div class="row m-1">
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 text-success rounded-4">
                    <h5 style="color: #082567;">Active Users</h5>
                    <h4><i class="fas fa-user-check" >&nbsp;&nbsp;{{ active_users }}</i></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 text-success rounded-4" style="color: #082567;">
                    <h5 style="color: #082567;">Admin Users</h5>
                        <h4><i class="fa fa-user-tie">&nbsp;&nbsp;{{ staff_users }}</i></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-card shadow-lg text-center border-0 p-3 text-success rounded-4" style="color:#082567;">
                    <h5 style="color: #082567;">Standard Users</h5>
                    <h4><i class="fa fa-user" >&nbsp;&nbsp;{{ standard_users }}</i></h4>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


<!-- Page Content -->
{% block content %}
<br>

<div class="container mt-1 mb-4 pb-5 col-lg-11" style="width: 100%; font-size: 14px">
    <!-- Message From BackEnd -->
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{ message }}
                    <a href="#" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                </div>
            {% elif message.tags == 'error' %}
                <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{ message }}
                    <a href="#" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                </div>
            {% endif %}
        {% endfor%}
    <!--Table-->
    <div class="container  mt-2 col-lg-11" >
        <div class="col">
            <div class="card mb-5 rounded-3 shadow-lg border-0">
                <div class="card-header rounded-top-3 py-3 mb-3 text-bg-success border-0 shadow-md text-center">
                    <h6 class="my-0 fw-normal" style="color: white;">
                        <i class="fa fa-user-group">&nbsp;&nbsp; RECENT SIGNED UP USERS</i>
                    </h6>
                </div>
                <div class="row my-4 mx-2">
                    <div class="col-md-12">
                        <table class="table bg-white">
                            <thead class="bg-info">
                                <tr>
                                  <th scope="col"><i class="fas fa-folder-closed">&nbsp;&nbsp;NAME</i></th>
                                  <th scope="col"><i class="fas fa-envelope">&nbsp;&nbsp;EMAIL</i></th>
                                  <th scope="col"><i class="fas fa-user-tag">&nbsp;&nbsp;STAFF STATUS</i></th>
                                  <th scope="col"><i class="fas fa-calendar-day">&nbsp;&nbsp;DATE JOINED</i></th>
                                  <th scope="col"><i class="fas fa-clock">&nbsp;&nbsp;LAST LOGIN</i></th>
                                  <th scope="col"><i class="fas fa-circle-info">&nbsp;&nbsp;DETAILS</i></th>
                                  <th scope="col"><i class="fas fa-circle-info">&nbsp;&nbsp;ACTION</i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                      {% if user.is_staff == False %}
                                          Standard
                                      {% elif user.is_staff == True %}
                                          Admin
                                      {% endif %}
                                    </td>
                                    <td>{{ user.date_joined }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td>
                                        <a href="{% url 'view_user_details_backend' user.id %}">
                                          <button type="button" class="btn btn-md btn-outline-info shadow-md border-1 border-info rounded-3">
                                              <i class="fas fa-expand">&nbsp;View</i></button>
                                        </a>
                                    </td>
                                    <td>
                                      {% if user.is_staff == True %}
                                        <a href="#">
                                          <button type="button" class="btn btn-md btn-outline-danger shadow-md border-1 border-danger rounded-3">
                                              <i class="fas fa-trash">&nbsp;View</i>
                                          </button>
                                        </a>
                                      {% elif user.is_staff == False %}
                                        <button type="button" class="btn btn-md btn-outline-danger shadow-md border-1 border-danger rounded-3 disabled">
                                              <i class="fas fa-trash">&nbsp;Delete</i>
                                          </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{% url 'view_all_users' user.id %}">
                      <button type="button" class="btn btn-lg btn-outline-info shadow-lg border-1 border-info rounded-3">
                          <i class="fas fa-user-group">&nbsp;All Users</i>
                      </button>
                    </a>
                </div>
            </div>
        <!--End Table-->
        </div>
    </div>
</div>
{% endblock content %}

<!-- Block Encrypt -->
{% block encrypt %} {% endblock %}

<!-- Block Decrypt -->
{% block decrypt %} {% endblock %}

<!-- Block Footer-Position -->
{% block footer-position %} class="fixed-bottom bg-dark text-center text-lg-start text-light" {% endblock %}

<!-- Block Footer -->
{% block footer %} style="color: greenyellow;" {% endblock %}