{% extends 'base.html' %}
{% load static %}

<!-- Navbar links control -->
{% block links %}{% endblock %}

<!-- Block Title -->
<title>{% block title %} CBDET | Text+File-Record Details {% endblock %}</title>

<!-- Block NavBar Content -->
{% block nav-content %}
  {% if user.is_staff == False %}
    <i class="fa-solid fa-user-check mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Standard-User &nbsp;{{ user }}</i>
  {% elif user.is_staff == True %}
    <i class="fa-solid fa-user-tie mb-3" style="color: #fff; font-size: 20px">&nbsp;&nbsp;Admin-User &nbsp;{{ user  }}</i>
  {% endif %}
{% endblock %}

<!-- NavBar Button -->
{% block nav-btn %}
    <a class="btn btn-custom" id="btn-nav-back" onclick="goBack()"><i class="fas fa-chevron-left">&nbsp;&nbsp;Back</i></a>
    <a class="btn btn-custom" id="btn-nav-panel" href="{% url 'backend' %}" ><i class="fa fa-sliders">&nbsp;&nbsp; Control Panel</i></a>
    <a class="btn btn-custom" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logout"><i class="fas fa-right-from-bracket">&nbsp;&nbsp;Logout</i></a>
{% endblock %}

{% block topbar %}
<div class="top-bar mt-4 pt-5">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <img src="{% static 'img/icon.ico' %}" alt="Logo">
                        <h1><span>CB</span>DET<span></span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Page Content -->
{% block content %}
<br>
<div class="container mt-1 mb-5 pb-2">
    <button class="btn btn-warning w-100 mt-3 mb-2 no-pointer">
        <i class="fa-solid fa-circle-info">&nbsp;&nbsp;TEXTFILE RECORD &nbsp;DETAILS</i>
    </button>

    <div id="pt" class="col-12">
        <div class="card p-3 mt-3 mb-4">
            <div class="row" >
                <h3>FILE+TEXT RECORD CIPHER INFORMATION</h3>
                <div class="container m-3">
                    <p>RECORD ID: {{ textfile.textfile_id }} </p>
                    <p>RECORD TITLE: {{ textfile.textfile_name }}</p>
                    <p>USER ID: NAME: {{ user }}&nbsp; | &nbsp; EMAIL: {{ user.email }}</p>
                    <p>DATE ENCRYPTED: {{ user.textfile_date }}</p>
                    <p>RECORD NAME: {{ textfile.textfile_file }}</p>
                    <p>TEXT-RECORD CIPHER: {{ textfile.textfile_text }}</p>
                    <p>FILE-RECORD CIPHER: {{ textfile.textfile_ciphere }}</p>
                </div>
            </div>
        </div>
        {% if user.is_staff == False %}
            <a href="#">
                <button type="button" class="btn btn-outline-danger m-1 p-2" disabled><i class="fas fa-ban">&nbsp;Delete</i></button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-warning m-1 p-2" disabled><i class="fas fa-triangle-exclamation">&nbsp;Decrypt</i></button>
            </a>
        {% elif user.is_staff == True %}
            <a href="/delete_case_report/{{ textfile.id }}">
                <button type="button" class="btn btn-outline-danger m-1 p-2"><i class="fas fa-trash-can">&nbsp;Delete</i></button>
            </a>
            <a href="{% url 'decrypt_textfile' textfile.id %}">
                <button type="button" class="btn btn-outline-success m-1 p-2"><i class="fas fa-unlock-keyhole">&nbsp;Decrypt</i></button>
            </a>
            {% endif %}
        <a href="">
            <button onclick="myfun('pt')" type="button" class="btn btn-outline-primary m-1 p-2"><i class="fas fa-print">&nbsp;Print</i></button>
        </a>
    </div>
</div> <!-- END // container -->

{% endblock content %}

<!-- Block Encrypt -->
{% block encrypt %} {% endblock %}

<!-- Block Decrypt -->
{% block decrypt %} {% endblock %}

<!-- Block Footer-Position -->
{% block footer-position %} class="fixed-bottom bg-dark text-center text-lg-start text-light" {% endblock %}

<!-- Block Footer -->
{% block footer %} style="color: gold;" {% endblock %}