{% extends 'components/cards/base_card.html' %}

{% block link %} fa-solid fa-user-group {% endblock %}
{% block link-title %} View Users
<!-- <<<<<<< HEAD -->
<!-- <a href="/admin/"><button class="btn btn-secondary w-100 p-1 m-1"><i class="fas fa-user-gear">&nbsp;&nbsp;Proceed</i></button></a> -->
<!-- ======= -->
<a href="{% url 'view_users_backend' %}"><button class="btn btn-secondary w-100 p-1 m-1"><i class="fas fa-user-gear">&nbsp;&nbsp;Proceed</i></button></a>
<!-- >>>>>>> ac2bd1e (cms-v0.3) -->
{% endblock %}
